<h1>Thank You!</h1>
<% @cart.each do | id | %>
	<div class="row featurette">
	<% product = Product.find_by_id(id) %>
		<div class="col-md-8">
			<b><%= link_to product.name, product %></b> 
			<p><%= product.description %></p>		
		</div>
		<div class="col-md-4">
			<%= link_to "Download", product.audio.url(:original, false) %>	
		</div>
	</div>
<% end %>	