<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Products</h2>
<% if @products.blank? %>
<p>There is currently no music in the system right now.</p>
<% else %>
<table class="table table-bordered">
<% @products.each do |product| %>
  <tr><div class="row featurette">
<td><div class="col-md-4">
		
	</div>
	<div class="col-md-8">
		<h2><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}" %></h2>
		<p><%= product.body_html %></p>
	</div></td>
</div></tr>
<% end %>
</table>
<% end %>


