
<h4><%= link_to '< Back', products_path %></h4>
<br />
<br />


 <div class="row featurette">
            <div class="col-md-4">
               
            </div>
            <div class="col-md-8">		
<h1>
  <%= @product.name %> 
</h1>

<p>

</p>
<p>
  <%= @product.description %>
  <br>
  <br>
  
</p>

<%= link_to "Play Song", @product.audio.url, :class => "play_song", remote:true%>
<br/>
<br/>

<%end %>




